Scrapy===1.5.1
Scrapy-Redis==0.6.8
scrapy-fake-useragent==1.1.0
Redis===2.10.6
python-dotenv===0.8.2
oss2===2.6.0
apscheduler===3.5.3
minio===4.0.6
aliyun-mns===1.1.5
bencode.py===2.0.0
pytz===2018.7
kafka-python===1.4.4